.App {
  text-align: left;
}



.rc-tabs {
  border: none !important;
  color: cornflowerblue;
  top:-25px;

}

.rc-tabs-tab {
  padding: 5px;
  text-transform: capitalize;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
  font-size: x-large;

}
.rc-tabs-tab.rc-tabs-tab-active {
  background: ececec;
  color: #79aff5;
  
}
.rc-tabs-ink-bar {
  background: #59c7fd !important;
}
.rc-tabs-content-holder {
  padding: 10px;
  /* background: #e9f4ff; */
  display:inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.rc-tabs-content {
  text-align: right;
}
