#home {
  max-width: 80ch;
  padding: 1rem;
  margin: 80px auto 0;
}

#tech-stack {
  margin: 70px 0;
}

@media (max-width: 600px) {
  #tech-stack-logos {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}


#tech-stack-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap row;
  width: 80%;
  margin: auto;
}

#tech-stack-logos > .tech {
  position: relative;
}

.tech > img {
  width: 80px;
  margin: 10px;
}

.tech:hover > img {
  opacity: 0.2;
  transition: .3s ease;
}


.tech > p {
  color: #892c7e;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30%;
}

.tech:hover > p {
  opacity: 1;
  transition: .3s ease;
}

/* Social Media */

#socia-media {
  margin: 70px 0;
}

@media (max-width: 100px) {
  #social-media-logos {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}


#social-media-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap row;
  width: 80%;
  margin: auto;
}

#social-media-logos > .social {
  position: relative;
}

.social > a> img {
  width: 100px;
  margin: 10px;
}

.social:hover >a> img {
  opacity: 0.2;
  transition: .3s ease;
}


.social > p {
  color: #892c7e;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30%;
}

.social:hover > p {
  opacity: 1;
  transition: .3s ease;
}

.projects {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 12px 0;
}

.projects a {
  text-decoration: none;
}


